
/* Home return back icon for each page */
.home-icon a {
    text-decoration: none;
    position: fixed;
    right: 15px;
    top: 15px;
    padding: 10px;
    margin: 20px;
    background-color: rgba(151, 157, 159, 0.8);
    border: none;
    border-radius: 5px;
}

.home-icon a:hover {
    background-color: white;
}
