#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* add into App.css to apply to entire component tree
*/
.componentBox {
  border: none;
  border-radius: 15px;
  margin: 1em;
  padding: 1em;
  text-align: center;
  background: #fefefe;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* LAB1 welcome box*/
.welcome {
  margin: 1em;
  padding: 1em;
  border: none;
  border-radius: 7px;
  text-align: center;
  background: #efefef;
  color: #888;
}

/* LAB2: listing <li> design  & LAB4: Filterings */
.content-body{
  width: 100%;
}

.container {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1rem;
}

/* sidebar with forms */
.left-sidebar {
  flex: 1;
  max-width: 320px;
}

/* main content panel (filter & lists) */
.content-panel {
  flex:2;
  text-align: left;
}

/* filter row */
.content-panel label {
  font-weight: 600;
  /* color: #222; */
  margin-right: 12px;
}
.content-panel select {
  padding: 0.4rem;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  margin-left: 8px;
  /* background: #fff; */
}

/* list style */
.content-panel ul {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
}

.content-panel ul li {
  background: #ffffff;
  color: #111;
  border: none;
  border-radius: 14px;
  padding: 0.8rem 1rem;
  margin-bottom: 0.8rem;  
}


/* .container ul {
  list-style: none;
}

.container ul li {
  background: #fefefe;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 0.4em;
  margin: 0.4em;
  padding-left: 1em;
} */


/* LAB3: Random Emoji Switch */
.emoji-container{
  border: none;
  border-radius: 15px;
  margin: 1em;
  padding: 1em;
  text-align: center;
  background: #fefefe;
}
.emoji h3{
  color: black;
}

/* LAB5: Add Cat */
.form-container {
  background: #ffffff;
  color: #111;
  border: none;
  border-radius: 14px;
  padding: 1rem;
  text-align: left;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  /* align-self: start;
  justify-content: space-around; */
}
.flex-row {
  flex-direction: row !important;
}
.form-container div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-container label {
  font-weight: 600;
  color: #222;
  /* margin-bottom: 4px; */
}

.form-container input, select {
  /* width: 100%; */
  padding: 0.6rem 0.75rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  background: #fff;
  color: #111;
}

.form-container button:hover {
  opacity: 0.92;
}

/* LAB 6 */
.result-box {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.result-box .result {
  font-size: 34px;
  font-weight: 600;
  font-family:'Times New Roman', Times, serif;
}
/* ---------------------------
   Responsive (mobile)
----------------------------*/
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .left-sidebar {
    width: 100%;
  }

  .content-panel {
    width: 100%;
  }
}