html {
    background-color: white;
}

body {
    font: 1.2em / 1.5 system-ui;
    padding: 5rem;
    background: url("walk2.jpg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    object-fit:cover;
    height: 100vh;
    width: auto;
    margin:0;
}

.job-title {
    display: inline-block;
    background: #e8f0ff;
    padding: .25rem 1rem;
    border: none;
    border-radius: 45px;
    font-weight: 600;
    cursor: pointer;

}

.job-title:hover {
    background-color: #ebfff8;
}

p {
    font-size: 1.2rem;
    line-height: 1.4em;
    padding: 12px 10px
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: inline-block;
    background: #ebfff8;
    margin-top: 4rem;
    padding: 2rem;
    border-radius: 10px;
}

.display {
    display: block;
}

.card h2 {
    text-align: center;
}

.card ul {
    list-style: none;
}

ul>li {
    padding: .2em 0em
}

li a {
    text-decoration: none;
    padding: 0.25rem 1.2rem
}

li a:hover {
    background-color: #e8f0ff;
    border-radius: 15px;
}

.playground {
    text-decoration: none;
    position: fixed;
    right: 15px;
    bottom: 15px;
    padding: 10px;
    margin: 20px;
    background-color: rgba(151, 157, 159, 0.8);
    border: none;
    border-radius: 5px;
}

.playground a:hover {
    background-color: white;
}
