/* body {
    font-family:Arial, Helvetica, sans-serif;
    color: #111827;
    background: #fef7fb;    
}

header, footer {
    background: #0f172a;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    display: grid;
    gap: 16px;
    max-width: 1024px;
    margin: 15px auto;
    padding: 0 15px;
}

nav, article, aside {
    
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

nav ul {
    display: flex;
    flex-direction: row;
    flex: auto;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    margin:5px 5px;
}

nav a{
    display: block;
    padding: 10px 10px;
    background-color: #f8fafc;
    border-radius: 5px;
    text-decoration: none;
}
nav a:hover {
    background-color: #b6bac7;
} */

:root {
    
}

* {
box-sizing: border-box;
margin: 0;
}
body {
font-family: sans-serif;
}
header {
background-color: blue;
color: white;
text-align: center;
padding: 20px;
}
nav {
float: left;
background-color: gold;
width: 30%;
height: 300px;
padding: 20px;
}
article {
background-color: whitesmoke;
float: left;
width: 70%;
padding: 20px;
}
aside {
clear: both;
}
footer {
background: #222;
color: #eee;
text-align: center;
padding: 0.5em;
font-size: 0.9em;
}