body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e3f2fd;
  padding-top: 5rem;
}
.card {
  padding: 0px !important;
  margin:10px;
  border: none;
  border-radius: 15px !important;
  width: 18rem !important; 
}
  
.card-body {
  padding: 0 !important;
  margin: 0 !important;
  
}

.card-title {
  font-weight: 600;
  font-size: 1.2em;
  padding: 1.2rem;
}
 
.card-content {
    font-weight: 400;
    font-size: 1em;
}
 
.card-content p{
    padding: 1.2rem;
}

.card-content img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border: none;
    border-radius: 0px 0px 15px 15px;
}
