:root{
    --primary-color: #ECF2FF;
    --secondary-color: #5D3EFB;
    --primary-text-color: black;
    --secondary-text-color: #A3A1FC;
    --tertiary-text-color:#A5A5A7;
    --object-1: #FFF6F7;
    --object-2: #FFFAF4;
    --object-3: #F2FDF9;
    --object-4:  #F4F4FE;
    --object-1-text: #fca7b1;
    --object-2-text: #ffd7a6;
    --object-3-text: #90ffd6;
    --object-4-text:  #9b9bff;
    --button: #303B59;
    --white: white;
    --black: black;
    --circle-area: #4B25D0;
}

html{
    background: var(--primary-color);
    height: 100vh;
}

body{
    font-family: "Open Sans", system-ui,sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    padding: 2rem;
    
}
/* center the whole card on the page */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* card with two column*/
.card {
    display: flex;
    background: var(--white);
    border-radius: 24px;
    align-items: center;
}

/* making each column a vertical flexbox */
.column {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

/* Left Column: making its content center */
#column-1 {
    background-color: var(--secondary-color);
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    border: none;
    border-radius: 20px;
    width: 50%;
    
}

/* Circle with gradient fixed sized */
.circle-result {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    background-color: var(--circle-area);
    background: linear-gradient( to top, #5D3EFB, #4B25D0 );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
  /* box-shadow: 0 18px 35px rgba(24, 20, 78, 0.45); */
}
.circle-result span{
    color: var(--secondary-text-color);
    font-size: 0.35em;
    font-weight: 500;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
}
.info p{
    width: 60%;
    color: var(--secondary-text-color);
}
/* Column-2 Right Column layout */
#column-2 {
    gap: 1.5rem;
    width: 50%;
}
/* Wrap all 4 rows */
.summary-box {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/* Single result row */
.result-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0.9rem 1rem;
    border-radius: 12px;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: var(--object-1);
}
/* icon placeholder */
.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-box i {
    margin-right: 0.5rem;
}
/* changing total color */
.result-box .total {
    color: var(--tertiary-text-color);
    font-weight: 500;
}
/* Different background and text color options for each child of result box */
.summary-box .result-box:nth-child(1) {background-color: var(--object-1); color: var(--object-1-text);}
.summary-box .result-box:nth-child(2) {background-color: var(--object-2); color: var(--object-2-text);}
.summary-box .result-box:nth-child(3) {background-color: var(--object-3); color: var(--object-3-text);}
.summary-box .result-box:nth-child(4) {background-color: var(--object-4); color: var(--object-4-text);}

/* button at bottom full length */
button{
    width: 100%;
    padding: .8rem .6rem;
    border: none;
    background-color: var(--button);
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2rem;
}