.row {
    display: flex;
    min-height: 100vh;
    align-items: stretch;
    max-width:100vw;
}

/* Circle */
.circle-wrapper {
    background: rgb(255, 255, 255);
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #0033ff;
  animation: slideCircle 4s ease-in-out infinite;
}

/* Square */
.square-wrapper {
    background: rgb(217, 217, 217);
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.square {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    animation: rotateSquare 4s ease-in-out infinite;
}

@keyframes slideCircle {
    from {
        transform: translateX(0px);
        opacity: 0;
    }

    to {
        transform: translateX(360px);
        opacity: 1;
    }
}

@keyframes rotateSquare {
    0% {
        transform: translateX(0) rotate(0deg);
        background: #ff0000;
    }

    25% {
        transform: translateX(30px) rotate(30deg);
        background: #ff00f2;
    }

    50% {
        transform: translateX(60px) rotate(60deg);
        background: #8000ff;
    }

    100% {
        transform: translateX(90px) rotate(90deg);
        background: #0033ff;
    }
}