body {
    font-family: sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: purple;
}

.background-1 {
    background: #68B0AB;
}

.background-2 {
    background: #8FC0A9;
}

.background-3 {
    background: #C8D5B9;
}

.background-4 {
    background: #FAF3DD;
}

.m-20 {
    margin: 20px;
}

.h-80 {
    min-height: 80px;
}

.h-400 {
    height: 400px;
}

.w-80 {
    width: 80px;
}

/* 2 */
.flex-container {
    display: flex;/*Turn on Flexbx*/
}
.flex-item-1 {
    flex:2em;
}
.flex-item-2{
    flex:6em;
}
.flex-item-3{
    flex: 20em;
}
.flex-item-4  {
    flex: 50em;
}

/* 3 */
.flex-center {
    justify-content: space-around;
    align-items: center;
}

/* 4 */
.flex-space-between{
    justify-content: space-between;    
}

.flex-space-between div {
    display: flex;
    align-items: center;
}

/* 5 */
.flex-wrap {
    flex-wrap: wrap-reverse;
}
.flex-basis-item-50 {
    flex-wrap: wrap;
    flex-basis: 25%;
}

/* 6 */
.flex-container {
    flex-direction:row;
}

/* 7 */
.flex-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1rem;
    border: none;
    border-left: 2px solid rgb(96 139 168);
    border-radius: 0px;
}
.flex-menu li a{
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.first-item {
    order: 1;
}
.second-item {
    order:2;
}
.third-item{
    order:3;
}
.fourth-item {
    order:5
}
.fifth-item{
    order:4
}
