.card-title {
  font-weight: 600;
  font-size:1.2em;
  padding: 0.8rem;
  width: 100%;
  height: 40px;
  overflow: hidden;
}
 
.card-content {
    font-weight: 400;
    font-size: 1em;
    padding: 0.8rem;
    width: 100%;
    height: 130px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 320px;
    object-fit:contain;
    border: none;
    border-radius: 0px 0px 15px 15px;
}

.card-price::before {
  content:"$";

}