#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



/* basic NavBar CSS, add to App.css and customise as needed */

/* Fixed nav bar */
.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
  padding: 12px 16px;
  z-index: 1000;
}

/* horizontal menu */
.NavBar ul {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  
}
/* Links as buttons */
.NavBar ul li a {
  text-decoration: none;
  color: #111827;
  background: #f3f4f6;
  padding: 1em 1.2em;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.15s;
  text-transform: uppercase;
  display: inline-block;
  
}

/* links when hover */
.NavBar ul li a:hover {
  background: #e5e7eb;
  transform: translateY(-1px);
}

/* Active Route */
.NavBar ul li a.active {
  background: #111827;
  color: #fff;
  font-weight: bold;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* card */
.BitcoinRates {
  max-width: 420px;
  margin: 24px auto;
  padding: 16px;
  border: none;
  border-radius: 12px;
  background: #fff;
  font-family: system-ui, Arial, sans-serif;
}

/* title */
.BitcoinRates h3 {
  margin: 0 0 12px;
  font-size: 18px;
  color:#888;
}

/* label */
.BitcoinRates label {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #464646;
}

/* select */
.BitcoinRates select {
  padding: 8px 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
}

/* result or message */
.result {
  margin-top: 12px;
  padding: 12px;
  border-radius: 10px;
  background: #555555;
}
/* price*/
.price {
  font-size: 20px;
  font-weight: 700;
  margin-top: 6px;
}

/* error */
.error {
  color: #b91c1c;
}

/* Small screens */
@media (max-width: 420px) {
  .BitcoinRates label {
    flex-direction: column;
    align-items: stretch;
  }
  .BitcoinRates select {
    width: 100%;
  }
}